<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Search Transaction</h3>
    </div>

    <form asp-action="HistoryOrder">
        <div class="card-body">
            <div class="form-group">
                <label for="CodeTransaction">CodeTransaction</label>
                <input type="text" class="form-control" id="CodeTransaction" name="CodeTransaction" placeholder="Code Transaction..." value="" />
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="MinDate">Minimal Date</label>
                            <input type="date" class="form-control" id="MinDate" name="MinDate" placeholder="Min Date..." value="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="MaxDate">Maximal Date</label>
                            <input type="date" class="form-control" id="MaxDate" name="MaxDate" placeholder="Max Date..." value="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="MinAmount">Minimal Amount</label>
                            <input type="number" class="form-control" id="MinAmount" name="MinAmount" placeholder="Min Amount..." value="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="MaxAmount">Maximal Amount</label>
                            <input type="number" class="form-control" id="MaxAmount" name="MaxAmount" placeholder="Max Amount..." value="" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right">Search</button>
        </div>
    </form>
</div>

<script>
    $('#MinDate').on('input', function () {
        var min = $(this).val()
        $("#MaxDate").attr({"min" : min})
    })

    $('#MaxDate').on('input', function () {
        var max = $(this).val()
        $("#MinDate").attr({ "max": max })
    })

    $('#MinAmount').change(function () {
        var minAmount = $(this).val()
        $("#MaxAmount").attr("min", minAmount)
    })

    $('#MaxAmount').change(function () {
        var maxAmount = $(this).val()
        $("#MinAmount").attr("max", maxAmount)
    })
</script>