@{
    int IdCustomer = @Context.Session.GetInt32("IdCustomer") ?? 0;
    // string NameCustomer = Context.Session.GetString("NameCustomer") ?? "";
}



<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
    @{
        if (IdCustomer != null)
        {
        <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="index.html"
                               aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-small-cap"><span class="hide-menu">Transaksi</span></li>
                        <!-- ============================================================== -->
                        @* Order SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Order" asp-action="Catalog"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Catalog
                                </span>
                            </a>
                        </li>

                        <!-- ============================================================== -->
                        @* Order SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Order" asp-action="HistoryOrder"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    History
                                </span>
                            </a>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Sesungguhnya</span></li>
                        <!-- ============================================================== -->
                        @* Category SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Category" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Category
                                </span>
                            </a>
                        </li>

                        <!-- ============================================================== -->
                        @* Variant SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Variant" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Variant
                                </span>
                            </a>
                        </li>

                        <!-- ============================================================== -->
                        @* Product SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Product" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Product
                                </span>
                            </a>
                        </li>


                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Applications</span></li>

                        <!-- ============================================================== -->
                        @* Friends SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Friends" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Friends
                                </span>
                            </a>
                        </li>

                        <!-- ============================================================== -->
                        @* Category SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="CategoryTry" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Category Try
                                </span>
                            </a>
                        </li>

                        <!-- ============================================================== -->
                        @* Vaariant SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="VariantTry" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Variant Try
                                </span>
                            </a>
                        </li>

                        <!-- ============================================================== -->
                        @* Dummy SideBar *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Dummy" asp-action="Bootcamp"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Dummy
                                </span>
                            </a>
                        </li>

                        <!-- ============================================================== -->
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Role" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    Role
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="authentication-login1.html"
                               aria-expanded="false">
                                <i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
        }
    }
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->