namespace Xpos341.wwwroot.css {
    public class Custom
}

.action {
    padding-right : 50%;
    display: flex;
    gap: 10px;
    justify-content:flex-end;
}

.action_btn {
/*    flex: ;*/
}
.table th{
    text-align: center; /* Optional: Center text */
}
..table td {
    text-align: start; /* Optional: Center text */

}

.images {
    aspect-ratio: 1/1;
    height: 200px;
    width: 80%;
    object-fit: cover;
    margin : auto;
}
.images {
    border-radius: 20px;
    border: 5px solid white;
}

.images:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px lightgrey;
}