@{
    ViewData["Title"] = "Delete Multiple Variant";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>


        <form asp-action="SureDelete" id="form_delete" method="post">

            <div class="mb-4">Are you sure delete this Variants,  </div>
            
            @foreach(var item in ViewBag.listName){
                <strong>@item</strong>
            }

            <div class="modal-footer">

                <button type="submit" class="btn btn-danger">Yes</button>
                <a class="btn btn-light" asp-controller="Variant" asp-action="Index">NO</a>
            </div>
        </form>

    </div>
</div>


<script>
    $("#form_delete").validate({
        submitHandler: function (form) {

            $.ajax({
                url: "Variant/SureMultipleDelete",
                type: "post",
                data: { ids: ids },
                dataType: "json",
                success: function (res) {
                    var data = res.dataResponse

                    if (data.success) {
                        $("#my_modal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.errorClass(data.message)
                    }
                }
                , error: function (res) {
                    console.log(res)
                }
            })
        }
    })
</script>